/* Item.module.css */
#item {
  width: calc(var(--theWidth) * 1vw);
  height: 300px;
  position: relative; /* Add relative position */
  background-size: cover;
  background-position: 50% 200%;
  background-repeat: no-repeat;
  background-color: #101010;
}

#slot {
  width: 100%;
  /*background-color: #101010;*/
  background: radial-gradient(#000022, #000000);
  position: absolute;
  bottom: 0;
  height: 0%;
  transition: height 0.4s; /* Add transition for smooth animation */
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

#item:hover #slot {
  height: 100%; /* Set height to 100% when hovering */
}

p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgb(130, 218, 255);
  animation: colorChange 4s linear infinite;
}